.DS_Store
__pycache__/
*.py[cod]

venv/
node_modules/

android/.gradle/
android/**/build/
android/build/
android/local.properties

model/*HealthIA*
model/*OromaxillofacialAI*
model/dataset.csv

services/front end/
services/front-end-HEALTH-IA/

HEALTHIA.zip
